<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/login/" method="post">
    <table width="767" height="644" border="0" align="center">
  <tr>
    <td height="228" background="pic/top.gif">
    </td>
  </tr>
  <tr>
    <td height="22" background="pic/in_01.gif"></td>
    </tr>
  <tr>
    <td background="pic/in_20.gif"><table width="298" height="120" border="0" align="center">
      <tr>
        <td width="101"><strong>账号</strong>:</td>
        <td colspan="2"><label>
          <input type="text" name="uname" />
        </label></td>
        </tr>
      <tr>
        <td><strong>密码</strong>:</td>
        <td colspan="2"><label>
          <input type="password"" name="pwd" />
        </label></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="48">&nbsp;</td>
        <td width="135">
        <input name="submit" type="submit" value="登录" />
        </td>
      </tr>
    </table></td>
    </tr>
    </table>
    </form>
</body>
</html>

